.ContainerTasks {
    margin: 0 auto;
    width: 60%;
    height: 35rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0.5rem;

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 8px;
        margin-top: -8px;
        padding: 1rem;
    }

    table thead th {
        text-align: left;
        font-size: 1.5rem;
    }
}

.DividerTasks {
    width: 100%;
    td {
        padding: 25px 0 15px 0;
        div {
            height: 3px;
            background:rgba(255, 255, 255, 0.4);
        }
    }
}